<h1>Editing Daily Out Count</h1>

<%= render 'form', daily_out_count: @daily_out_count %>

<%= link_to 'Show', admin_daily_out_count_path(@daily_out_count) %> |
<%= link_to 'Back', admin_daily_out_counts_path %>
