<p id="notice"><%= notice %></p>

<h1>Log</h1>

<style>
textarea {
 font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
 font-size: 0.75em;
}
</style>

<p>File: <%= @fname %></p>

<textarea style="width:100%;height:400px">
<% @loglines.reverse.each { | logline | %>
<%= logline %>
<% } %>
</textarea>
