# About repo_id:
# 
# If you use tmpl1 view, git repo name should be antenna01x,
# For example, you should clone from github like this:
# git clone https://github.com/yuknak/antenna.git antenna011 
# This means you are using tmpl1 view and making 1st site of that. 
# So, next, you MUST specify repo_id to 11 HERE.
# (ex, when you use tmpl2 1st site, repo name should be antenna021,
# repo_id MUST be 21, if you make 2nd tmpl2 site, repo_id MUST be 22)

default: &default
  repo_id: # ex) antenna001->1, antenna011->11
    1
  task: # Set execute true on only one instance
    execute: false
  admin: # /admin console
    user: admin
    pass: minad
    entire_lock: # Protect entire site
      true
  top_lines:
    articles: 150
    sites: 25
    site_articles: 5

development:
  <<: *default

test:
  <<: *default

production:
  admin:
    entire_lock: false
  <<: *default
