default: &default
  # repo_id must be unique if you host multiple sites.
  # and the first site's repo_id must be 1.
  # because only repo_id=1 do tasks (fetch data to db)
  repo_id: 
    1
  design: 
    1
  res:
    title: ANTENNA
    email: mail@domain.com
  admin: # /admin console
    user: admin
    pass: minad
    entire_lock: # Protect entire site
      true
  top_lines:
    articles: 150
    sites: 25
    site_articles: 5

development:
  <<: *default

test:
  <<: *default

production:
  admin:
    entire_lock: false
  <<: *default
