<h1>Editing Article Out Count</h1>

<%= render 'form', article_out_count: @article_out_count %>

<%= link_to 'Show', admin_article_out_count_path(@article_out_count) %> |
<%= link_to 'Back', admin_article_out_counts_path %>
