<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">

<head>
<title>クローンアンテナ</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="Keywords" content="2chまとめ,アンテナ">
<meta name="Description" content="アンテナサイト">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link rel="shortcut icon" href="/orz/favicon.ico">
<link rel="stylesheet" type="text/css" href="/orz/style.css">
</head>

<body bgcolor="black" color="white">

<div id="header">
<div class="nav1">
<div class="container">

<div class="damepo">
<h1 style="font-size:10pt;margin:0px;"><a href="/" style="color:white;" target="_self">クローンアンテナ</a></h1>
</div>

<ul class="nl clearFix">
<li class="off"><a href="/">総合</a></li>
<li class="off"><a href="/">NEWS</a></li>
<li class="off"><a href="/">VIP</a></li>
<li class="off"><a href="/">芸能</a></li>
<li class="off"><a href="/">スポーツ</a></li>
<li class="off"><a href="/">アニ漫</a></li>
<li class="off"><a href="/">ゲーム</a></li>
<li class="off"><a href="/">AA:SS</a></li>
<li class="off"><a href="/">生活</a></li>
<li class="off"><a href="/">翻訳</a></li>
<li class="off"><a href="/">その他</a></li>
</ul>

</div>
</div>
</div>

<div id="contents">
</div>

<div id="footer">

<div class="nav2">
<div class="container">
<div class="damepo">
</div>
<ul class="nl clearFix">
<li class="off">&nbsp;</li>
<li class="off">&nbsp;</li>
<li class="off">&nbsp;</li>
<li class="off">&nbsp;</li>
<li class="off">&nbsp;</li>
<li class="off">&nbsp;</li>
<li class="off">&nbsp;</li>
<li class="off">&nbsp;</li>
<li class="off"><a href="/about">About</a></li>
</ul>

</div>
</div>

</div>
</body>
</html>
