<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="ja">

<head>
<title>だめぽアンテナ(クローン)</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="Keywords" content="2chまとめ,アンテナ">
<meta name="Description" content="どうも駄目っぽいアンテナサイト">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<link rel="shortcut icon" href="http://moudamepo.com/img/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://moudamepo.com/css/style.css">
</head>
<body bgcolor="black" color="white">

<div id="header">

<div class="nav1">
<div class="container">
<div class="damepo">
<h1 style="font-size:10pt;margin:0px;"><a href="/" style="color:white;" target="_self">だめぽアンテナ(クローン)</a></h1>
</div>
<ul class="nl clearFix">
<li class="off"><a href="/">総合</a></li>
<li class="off"><a href="/">NEWS</a></li>
<li class="off"><a href="/">VIP</a></li>
<li class="off"><a href="/">芸能</a></li>
<li class="off"><a href="/">スポーツ</a></li>
<li class="off"><a href="/">アニ漫</a></li>
<li class="off"><a href="/">ゲーム</a></li>
<li class="off"><a href="/">AA:SS</a></li>
<li class="off"><a href="/">生活</a></li>
<li class="off"><a href="/">翻訳</a></li>
<li class="off"><a href="/">その他</a></li>
</ul>

</div>
</div>

</div>

<div id="contents">

<br>

<div style="width:300px;text-align:center;float:left;">

<a href="#" target="_blank">[全表示]</a>

<div style="width:300px;font-size:10pt;text-align:left;">
※ 2016/10/17<br>
ACR WEBの逆アクセスが500位までしか参照出来なくなったので独自集計方式に変更しました。<br>
旧来方式との比較用に↓に残しておきます、集計方式により若干ズレが生じております。<br>

</div>

<br>

<a href="#" target="_blank">[全表示]</a>

<br>
<br>
<br>
<br>
<br>
<br>

</div>


<div style="width:600px;text-align:left;float:left;padding:10px 50px;">

<div style="width:400px;font-size:10pt;float:left;">
サイト名 ： だめぽアンテナ(クローン)<br>
OPEN ： 2019/01/00<br>
URL ： <a href="#" style="color:#CCFFFF;" target="_blank">http://domain.com/</a><br>
RSS ： <a href="#" style="color:#CCFFFF;" target="_blank">http://domain.com/feed/feed.xml</a><br>
スマホページ ： <a href="#" style="color:#CCFFFF;" target="_blank">http://domain.com/sp/</a><br>
推奨環境 ： Firefox、Chrome<br>
</div>

<div style="float:left;">
<a href="#" target="_blank"><img src="http://moudamepo.com/img/qrcode.gif"></a>
</div>

<div style="clear:both;"> </div>

<br>
<div style="font-size:10pt;">
IN/OUT数を公開してアクセスの透明性を重視したアンテナ&ランキングです。<br>
ランキング表示は逆アクセス(IN数)に連動しております。<br>
RSSはIN/OUT数から返還率を監視して逆アクセス上位より優先して配信します。<br>
各記事の24時間内のクリック数を計測して視覚的に表示します。<br>
まだまだ発展途上、開発途上ですがご支援、宜しくお願い致します。<br>
</div>
<div style="font-size:8pt;">
<br>
※IN/OUT共に過去1週間分のアクセス集計です。<br>
※INカウントは同日同一IPを除外しています。<br>
※OUTカウントは過去24時間内の同一IPを除外しています。<br>
<div style="font-size:9pt;color:#ffff33;text-decoration:underline;">
※当アンテナのアクセスの半数以上はスマホからのアクセスです。<br>
※IN/OUT共にスマホからのアクセスも計測します。当アンテナからのアクセスはスマホ分もご確認下さい。<br>
</div>
</div>

<br>

<div style="font-size:10pt;">
【RSS Feed】<br>
<a href="#" style="color:#CCFFFF;">こちらのページへ移動しました</a><br>
</div>

<br>

<div style="font-size:10pt;">
【お問い合わせ】<br>
<a href="#" style="color:#CCFFFF;" target="_blank">&lt;&lt;メールフォーム&gt;&gt;</a><br>
管理者 ： 駄目保 (だめたもつ)<br>
<div style="font-size:9pt;color:#FF3333;">
※良くある質問に対する回答<br>
・登録可否に関わるお問い合わせにはお答え出来ません。<br>
・アンテナ以外の運営は行っておらず、特定のサイトとの癒着は一切ありません。<br>
</div>
</div>

<br>

<div style="font-size:10pt;">
【アンテナ登録について】<br>
登録申請フォームより必要事項を送信して下さい。<br>
逆アクセスを見て勝手に登録したりもしています。<br>
申し訳ありませんが全てのサイトを登録する事は出来ません。<br>
慎重に審査した上で登録させて頂いております。<br>
<a href="#" style="color:#CCFFFF;" target="_blank">&lt;&lt;登録申請フォーム&gt;&gt;</a><br>
<div style="font-size:9pt;color:#FF3333;">
※更新やアクセスが滞ったサイトは巡回頻度の調整や登録解除措置を講じます。
</div>
<br>
姉妹アンテナの<a href="#" style="color:#CCFFFF;" target="_blank">ねらーアンテナ</a>も登録受付しております。
</div>

<br>

<br>
<br>

</div>

</div>

<div id="footer">

<div class="nav2">
<div class="container">
<div class="damepo">
●rz
</div>
<ul class="nl clearFix">
<li class="off">&nbsp;</li>
<li class="off">&nbsp;</li>
<li class="off">&nbsp;</li>
<li class="off">&nbsp;</li>
<li class="off"><a href="#" target="_blank">固定リンク</a></li>
<li class="off"><a href="#" target="_blank">登録一覧</a></li>
<li class="off"><a href="#" target="_blank">登録申請</a></li>
<li class="off"><a href="#" target="_blank">Mail</a></li>
<li class="off"><a href="#">RSS</a></li>
<li class="off"><a href="/about">About</a></li>
</ul>

</div>
</div>

</div>
</body>
</html>
